<div class="page-width">
  Hello!
</div>

{% schema %}
{
  "name": "Images links",
  "tag": "section",
  "class": "section",
  "settings": [
  ],

  "presets": [
    {
      "name": "Варіанти виведення зображень"
    }
  ]
}
{% endschema %}
