<div class="page-width">
  Hello!
</div>

{% schema %}
{
  "name": "Images links",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_v_1",
      "label": "Image v1"
    }
  ],

  "presets": [
    {
      "name": "Add images"
    }
  ]
}
{% endschema %}
